.ui-rating-star {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.ui-rating-starred {
  background-image: url('/img/rating.png');
}
.ui-rating-unstarred {
  background-image: url('/img/ratingblank.png');
}
.ui-rating-disabled {
  background-image: url('/img/ratingdisabled.png');
}
